:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --dark-orange: #f89808;
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: var(--dark-grey);
  background-color: var(--dark-grey);
  margin: 20px;
 padding: 50px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
li{
  list-style-type: none;
}

.container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  width: 500px;
  margin: 20px auto;
  padding: 10px;
}
ul{
  padding: 0;
}

.container-converter{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px auto 20px auto;
  
  width: 500px;
  color: white;
  background-color: var(--dark-grey); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
select{
  width: 100%;
  padding: 5px;
  margin-top: 0
}

.title{
  margin-bottom: 2px
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
